includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app

    # The level 9 is the highest level
    level: 7

    universalObjectCratesClasses:
            - Illuminate\Http\Resources\Json\JsonResource
